button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* margin-right: 90px; */
    width: 300px;

}

button:hover {
    background-color:#FF70CB;
     color: white;
}

body {
    /* background: url("/i/logo.png") no-repeat center center fixed;
     background: url("/i/logo.png") no-repeat center center fixed; 
     -webkit-background-size: cover;
   -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;  */
  background-color: #AAFF00;
}

img {
  height: 90%;
  width: 50%;
  background-color: powderblue;
}

.header {
  overflow: hidden;
  /* padding: 0px 0px; */
/* padding: 20px 10px; */
  background-color:#8bd100;
  font-size: 8px;
font-family: 'Maven Pro', sans-serif;
font-style: normal;
font-weight: 300;
  
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FF70CB;
  color: black;
}

.header a.active {
  background-color: #FF70CB;
  color: white;
}

.header-right {
  float: right;
}
