button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
font-family: 'Maven Pro', sans-serif;
font-style: normal;
font-weight: 300;
/* margin-right: 90px; */
width: 300px;

}

button:hover {
    background-color:#FF70CB;
     color: white;
}

body {
    /* background: url("/i/logo.png") no-repeat center center fixed;
     background: url("/i/logo.png") no-repeat center center fixed; 
     -webkit-background-size: cover;
   -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;  */
  background-color: #AAFF00;
}

img {
  height: 90%;
  width: 50%;
  background-color: powderblue;
}
/* div.click {
  top: 300px;
  position: relative;
  left: 30px;
  right: 30px;
  border: 3px solid #73AD21;
} */


/* #home-button{
    height: 20px; width: 20px;
    background-image: url('http://www.clker.com/cliparts/7/5/8/P/c/o/simple-grey-house-hi.png') ;
    background-size: 20px 20px;
} */

