<html>
    <head>
        <link rel="stylesheet" href="/i/profile-edit.css">
    </head>
    <body>
                <h1> Your Chatties </h1>
        </div >
     
  
  
<div class="card">
  {% for profile in profiles %}
  <img width="100vw" src="/profilepic?id={{profile.key.urlsafe}}" alt="{{profile.name}}">
  <h1>{{profile.name}} </h1>
  <p>{{profile.preferences}}</p>
        
  <div style="margin: 24px 0;">
    <a href="/chatpage"><i class="fa fa-dribbble"></i></a> 
    <button class="chatbtn"><a href='/chatpage/{{name}}-{{profile.name}}'>Chat</a></button>
  </div>
   {% endfor %}
   <!-- <h1> You have no friends, dawg </h1> -->
</div>
  </body>
</html>  