<html>
    <style>
        p{
            color:black;
        }
    </style>
    <body>
        {% for message in messages %}
        {% if message.sender in listnames %}
         {% if message.recipient in listnames %}
        <p>
            <b>{{message.sender}}-{{message.timestamp}}</b> {{message.text}}
        </p>
        {% endif %}
        {% endif %}
        {% endfor %}
    </body>
</html>

<!-- <style>
            iframe{
                background-color:skyblue;
                width:500px;
            }
        </style>
        <iframe src="/chat"></iframe>

        <form method="post" action="/send">
            <input type ="text" name ="chatmsg"> <input type="submit">
            </form -->