<html>
    <head>
        <style>
            body{
                background-color:#aaff00;
            }
        </style>
    </head>
    <body>
        <h1> Other Profile<h1> 
            <div>
                {{Profile_pic}}
            </div>
        <h3>Preferences Shared<h3>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
        <!-- -----etc----- -->
        <a href="/chatpage"><button > Chat </button> </a>

<!-- -------------REPLACE WITH A VARIABLE OF THE OTHER USER NAME  -->
    </body>
</html>