<html>
    <head>
        <link rel="stylesheet" href="../static/preferences-style.css">
    </head>
    <body>
<h1>Preferences</h1>
<br><br></div >What do you want to chat about?</div><br>
<div class="preferences">
    <form method="post" action="/profile-save">
        <input type="checkbox" value="{{preferences}}" name="preferences">Football<br>
        <input type="checkbox" value="{{preferences}}" name="preferences">Basketball<br>
        <input type="checkbox" value="{{preferences}}" name="preferences">Soccer<br>
        <input type="checkbox" value="{{preferences}}" name="preferences">Baseball<br>
        <input type="checkbox" value="{{preferences}}" name="perfences">Fashion<br>
        <input type="checkbox" value="{{preferences}}" name="preferences">Movies<br>
        <input type="checkbox" value="{{preferences}}" name="preferences">Video Games<br>
</div>
    </form>
    </body>
</html>