

<form method='post' action="/profile-save"> 
<fieldset>
    Name: <br><input type = "text" name="name" value='{{name}}'><br><br>
    Preferences: <br>
    <!-- <iframe src="/preferences"></iframe><br> -->
    <div>What do you want to chat about?</div><br>
<div class="preferences">
    {% for preference in preferences %}
    <input type="checkbox" value="{{preference}}" name="preferences" {% if preference in userpreferences %}checked{% endif %}>{{preference}}<br>
    {% endfor %}
   <input type="submit" >       
</div>
</fieldset>
    <input type='submit'>
    </form>