<html>
    <head>
        <link rel="stylesheet" href="../static/profilestyle.css">
        <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Lacquer&display=swap">
        </head>
        <body>
            <div id=-"topmenu">
                <a href="/"><button type='submit' id="home-button" value="home" ></button></a>
                {% if logout_url == null %}
                <a href="{{login_url}}"><button > Login </button> </a>
                   {% else %}
                <a href='{{logout_url}}'><button>Logout </button></a>
                <a href='/profile-edit'><button> Edit Profile </button> </a>
                    {% endif %}
         </div>
         {% if successmsg %}
         <div id="successmsg">{{successmsg}}</div>
         {% endif %}
         {% if errormsg %}
        <div id="errormsg">{{errormsg}}</div>  
        {% endif %}         
                    {%block content%}{% endblock %}
         <h1>{{name}}</h1>
         <img src={{profilepicture}} alt={{name}}>
             <p>Meme Type:</p><br>
       <select name="meme-type">
        <option value="college-grad">Happy College Grad</option>
        <option value="thinking-ape">Deep Thought Monkey</option>
        <option value="coding">Learning to Code</option>
        <option value="old-class">Old Classroom</option>
         <op15ftion value="stephena">Baby Steph</option>
         <option value="lilterio">LilTerio</option>
         <option value="jemz">Jemz</option>
        </select>
      <input type="submit" value="Go!">
         {{preferences}}

</body>
    </html>