<html>
    <head>
        <link rel="stylesheet" href="/i/registerstyle.css">
    </head>
    <body> <center>
        <form method="post" action="login.html">
            <div class="container">
                <!-- <h1>Register</h1>
                <hr> -->

                <label for="firstname"><b>First Name</b><br></label>
                <input type="text" name="firstname" required> <br>

                <label for="lastname"><b>Last Name</b><br></label>
                <input type="text" name="lastname" required><br>

                <label for="password"><b>Password</b><br></label>
                <input type="password" name="password" required><br>

                <label for="email"><b>Email</b><br></label>
                <input type="text" name="email" required><br>
                <b>Location</b> <br>
                <form>
                    <select name="neighborhoods" id="dropdown">
                        {% for neighborhood in neighborhoods %}
                        <option>{{neighborhood}}</option>
                        {% endfor %}
                    </select> <br>
                </form>
                
                <button type="submit" class="registerbtn">Register</button>
            </div>

            <!-- <div class="container signin"> -->
                <p>Already have an account? <a href="/login.html">Sign in</a></p>
            <!-- </div> -->
</form>
    </body> </center>
</html>