<html>
    <head>
        <link rel="stylesheet" href="/i/welcomestyle.css">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:900&display=swap" rel="stylesheet">  
        </head>
        <body>
             <center>
            <img src='/i/logo.png' alt=logo>
                <div id="menu" class="click">
                <a href="/profile-register"><button type='submit' id="home-button" value="home" > Register </button></a>
                {% if logout_url == null %}
                <a href="{{login_url}}"><button > Login </button> </a>
                   {% else %}
                <a href='{{logout_url}}'><button>Logout </button></a>
                <a href='/profile-edit'><button> Edit Profile </button> </a>
                    {% endif %}
         </div>
         {% if successmsg %}
         <div id="successmsg">{{successmsg}}</div>
         {% endif %}
         {% if errormsg %}
        <div id="errormsg">{{errormsg}}</div>  
        {% endif %}          
                    {%block content%}{% endblock %}
</body> </center>
    </html>