<html>
    <head>
        <link rel="stylesheet" href="../static/welcomestyle.css"
        </head>
        <body> <center>
            <div id=-"menu" class="click">
                <a href="/"><button type='button'> <img src="http://www.clker.com/cliparts/7/5/8/P/c/o/simple-grey-house-hi.png" alt='home'>Home<button></a>
                {% if login_url %}
                <a href="{{login_url}}"> Login </a>
                   {% else %}
                <a href='{{logout_url}}'> Logout </a>
                <a href='/profile-edit'> Edit Profile </a>
                    {% endif %}
         </div>
         {% if successmsg %}
         <div id="successmsg">{{successmsg}}</div>
         {% endif %}
         {% if errormsg %}
        <div id="errormsg">{{errormsg}}</div>  
        {% endif %}         
                    {%block content%}{% endblock %}
</body> <center>
    </html>